{% extends 'base.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}
    <div
        class="relative mx-auto mt-16 p-5 bg-sky-800 w-[550px]"
    >
        <div class="mx-auto mt-5 text-3xl text-center text-white mb-3">Register User</div>
        {{ form_start(registerForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <span class="text-center text-red-700"> {{ form_errors(registerForm) }} </span>
        <div class="grid grid-cols-4 gap-2">
            <div class="mb-4">
                <div
                    class="mt-3 text-sm text-white"
                    x-data="{
                        inputId: 'registration_form_profileImage',
                        fileInput: null,
                        tmpImgUrl: '/public/uploads/profile-image/default-avatar.jpg',
                    }"
                    x-init="() => {
                        $nextTick(() => {
                            fileInput = $refs.imageUpload;

                            $refs.image.style.backgroundImage = `url('${tmpImgUrl}')`;
                        });
                    }"
                    x-on:drop="$event => {
                        $event.preventDefault();

                        const dataTransfer = new DataTransfer();
                        const newFile = $event.dataTransfer.files[0];

                        $refs.image.style.backgroundImage = `url('${URL.createObjectURL(newFile)}')`;

                        dataTransfer.items.add(newFile);

                        fileInput.value = '';

                        fileInput.files = dataTransfer.files;

                        fileInput.dispatchEvent(new Event('change', { bubbles: true }));
                    }"
                    x-on:dragover.prevent="() => console.log('drag over prevented')">
                    <div
                        x-ref="image"
                        class="rounded-full border bg-center bg-cover bg-no-repeat mb-3 w-24 h-24"
                    ></div>
                    {{ form_row(registerForm.profileImage) }}
                </div>
            </div>
            <div class="grid grid-cols-2 col-span-3 gap-2">
                {{ form_row(registerForm._token) }}
                <div>
                    <div class="text-white">{{ form_label(registerForm.username) }}</div>
                    {{ form_widget(registerForm.username) }}
                    <div class="text-red-300">{{ form_errors(registerForm.username) }}</div>
                </div>
                <div>
                    <div class="text-white">{{ form_label(registerForm.email) }}</div>
                    {{ form_widget(registerForm.email) }}
                    <div class="text-red-300">{{ form_errors(registerForm.email) }}</div>
                </div>
                <div>
                    <div class="text-white">{{ form_label(registerForm.password.first) }}</div>
                    {{ form_widget(registerForm.password.first) }}
                    <div class="text-red-300">{{ form_errors(registerForm.password.first) }}</div>
                </div>
                <div>
                    <div class="text-white">{{ form_label(registerForm.password.second) }}</div>
                    {{ form_widget(registerForm.password.second) }}
                    <div class="text-red-300">{{ form_errors(registerForm.password.second) }}</div>
                </div>
                <div class="mt-3">
                    <div class="text-white">{{ form_label(registerForm.currentBase) }}</div>
                    {{ form_widget(registerForm.currentBase) }}
                    <div class="text-red-300">{{ form_errors(registerForm.currentBase) }}</div>
                </div>
                <div class="mt-3">
                    <div class="text-white hidden">{{ form_label(registerForm.millitaryRank) }}</div>
                    {{ form_widget(registerForm.millitaryRank, {'attr': {'class': 'hidden'}}) }}
                    <div class="text-red-300">{{ form_errors(registerForm.millitaryRank) }}</div>
                </div>
                <div class="flex flex-row justify-end col-span-2 pr-5 mt-6">
                    <button type="submit" class="bg-blue-600 p-2 rounded-2xl text-white hover:bg-gray-400 ml-2">
                        Submit
                    </button>
                    <a class="bg-gray-500 p-2 rounded-2xl text-white hover:bg-gray-400 ml-2" href="/user/list">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(registerForm) }}
    </div>
{% endblock %}
