{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="relative mx-auto mt-16 p-5 w-96 bg-sky-800" style="width: 550px">
        <div class="mx-auto mt-5 text-3xl text-center text-white mb-3">Register</div>
        {{ form_start(registrationForm) }}
        <span class="text-center text-red-700""> {{ form_errors(registrationForm) }} </span>
        <div class="grid grid-cols-2 gap-2">
            <div class="grid gap-2 col-span-2 grid-cols-4 mb-4">
                <div class="mt-3 text-white">
                    <div>Drag and Drop Placeholder</div>
                </div>
            </div>
            {{ form_row(registrationForm._token) }}
            <div>
                <div class="text-white">{{ form_label(registrationForm.username) }}</div>
                {{ form_widget(registrationForm.username) }}
                <div class="text-red-300">{{ form_errors(registrationForm.username) }}</div>
            </div>
            <div>
                <div class="text-white">{{ form_label(registrationForm.email) }}</div>
                {{ form_widget(registrationForm.email) }}
                <div class="text-red-300">{{ form_errors(registrationForm.email) }}</div>
            </div>
            <div>
                <div class="text-white">{{ form_label(registrationForm.password.first) }}</div>
                {{ form_widget(registrationForm.password.first) }}
                <div class="text-red-300">{{ form_errors(registrationForm.password.first) }}</div>
            </div>
            <div>
                <div class="text-white">{{ form_label(registrationForm.password.second) }}</div>
                {{ form_widget(registrationForm.password.second) }}
                <div class="text-red-300">{{ form_errors(registrationForm.password.second) }}</div>
            </div>
            <div class="mt-3">
                <div class="text-white">{{ form_label(registrationForm.currentBase) }}</div>
                {{ form_widget(registrationForm.currentBase) }}
                <div class="text-red-300">{{ form_errors(registrationForm.currentBase) }}</div>
            </div>
            <div class="mt-3">
                <div class="text-white">{{ form_label(registrationForm.millitaryRank) }}</div>
                {{ form_widget(registrationForm.millitaryRank) }}
                <div class="text-red-300">{{ form_errors(registrationForm.millitaryRank) }}</div>
            </div>
            <div class="flex flex-row justify-end col-span-2 pr-5 mt-6">
                <button type="submit" class="bg-blue-600 p-2 rounded-2xl text-white hover:bg-gray-400 ml-2">
                    Submit
                <button>
            </div>
        </div>
    </div>
{% endblock %}
