
<div x-init="() => console.log('header loszar')" x-data="{}" class="mt-0 w-full h-14 bg-gray-400 abel-regular absolute">
    <div class="w-[80%] mx-auto grid grid-cols-2">
        <div class="mt-1">
            <image src="/logo.png" class="opacity-50" width="45px" height="45px">
        </div>
        <div class="flex justify-end text-white">
            <div class="mr-3">
                {% if app.user %}
                <div
                    class="w-12 h-12 mt-1 rounded-full bg-center bg-cover bg-no-repeat mb-5 float-left"
                    style="background-image: url('{{ asset(app.user.profileImageRoute) }}')"
                >
                </div>
                {% endif %}
                {% if not app.user and app.request.get('_route') != 'app_register' %}<div class="float-right mt-4"><a href="{{ path('app_register') }}" class="hover:text-sky-600">Register </a></div>{% endif %}
                {% if is_granted('ROLE_ABSOLUTE_ACCESS') %}<div x-on:click="$dispatch('display-game')" class="float-right mt-4 mr-2">|<span class="hover:text-sky-600 ml-1 mr-2 cursor-pointer">Practice</span></div>{% endif %}
                {% if is_granted('ROLE_ABSOLUTE_ACCESS') or is_granted('ROLE_MANAGE_USER_PLUS') and app.request.get('_route') != 'app_register' %}<div class="float-right mt-4 mr-2">|<a href="{{ path('app_list_users') }}" class="hover:text-sky-600 ml-1">All Users</a></div>{% endif %}
                {% if is_granted('ROLE_ABSOLUTE_ACCESS') or is_granted('ROLE_MANAGE_USER') or is_granted('ROLE_MANAGE_USER_PLUS') %}<div class="float-right mt-4 mr-2">|<a href="{{ path('app_create_user') }}" class="hover:text-sky-600 ml-1">Add User </div>{% endif %}
                {% if app.user %}
                    <div class="float-right mt-4 mr-2">
                        |<a href="{{ path('app_logout') }}" class="hover:text-sky-600 ml-1">Logout </a>
                    </div>
                    <div class="float-right mt-4 mr-2 -ml-3"> {{ app.user.userIdentifier }} </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>